/* ... Estilos anteriores ... */

.profile-picture-placeholder {
    width: 150px; /* Puedes ajustar el tamaño según lo necesites */
    height: 150px;
    background-color: #ecf0f1;
    border-radius: 50%; /* Hace que el div sea circular */
    margin: 0 auto 20px; /* Centra y agrega espacio debajo */
    background-image: url('ruta_a_tu_imagen.jpg'); /* Aquí colocarás la ruta de tu foto */
    background-size: cover;
    background-position: center;
    border: 3px solid #2c3e50; /* Un borde para destacar */
}

nav ul li a i {
    font-size: 24px;
    margin: 0 10px; /* Espacio entre íconos */
    color: #2c3e50;
    transition: color 0.3s ease;
}

nav ul li a i:hover {
    color: #34495e;
}

/* ... Resto de estilos ... */
